site_name: box
theme:
  name: material
  logo: assets/logo.jpg
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy
  palette:
    - scheme: default
      primary: white
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono

repo_url: https://github.com/sebakri/box

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - index.md
