name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install Task
        run: go install github.com/go-task/task/v3/cmd/task@latest

      - name: Run Tests
        run: task test

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.4.0
